@model NSG.NetIncident4.Core.UI.ViewModels.Pagination<NSG.NetIncident4.Core.Application.Commands.CompanyServers.CompanyServerListQuery>
@{
    ViewData["Title"] = "Index";
}
<h2>Companies/Servers Management</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="nsg-hd-row">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">Company Name</div>
        <div class="col-md-1"></div>
    </div>
</div>
@foreach (var item in Model.items)
{
    <div class="nsg-row">
        <div class="row">
            <div class="col-md-2">
                <a asp-action="Details" asp-route-id="@item.CompanyId">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.CompanyId">Edit</a>
            </div>
            <div class="col-md-8">
                @(ViewHelpers.DescIdShortDesc(item.CompanyName, item.CompanyId, item.CompanyShortName))
            </div>
            <div class="col-md-1">
                <a asp-action="Delete" asp-route-id="@item.CompanyId" class="nsg-text-danger">Delete</a>
            </div>
        </div>
        <div class="row">
            <label class="col-md-2 nsg-label" for="Servers">Servers:</label>
            @foreach (var srv in item.ServerList)
            {
                <div class="col-md-2">
                    <a asp-action="Edit" asp-route-id="@item.CompanyId">@srv.ServerShortName</a>
                </div>
            }
        </div>
        <div style="clear: left;"></div>
    </div>
}
<!-- add paginator to form, model must be Pagination<T> -->
<partial name="PagerPartial" model="Model" />
