@model IEnumerable<NSG.NetIncident4.Core.Application.Commands.ApplicationRoles.ApplicationRoleListQuery>
@{
    ViewBag.Title = "Index";
}
<h2>Role Management</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="col-md-8" style="padding: 0 0 0 0;">
    <div class="row nsg-hd-row">
        <div class="col-md-3"></div>
        <div class="col-md-7">
            Name
        </div>
        <div class="col-md-2"></div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row nsg-row">
            <div class="col-md-3">
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </div>
            <div class="col-md-7">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @style = "color: red;" })
            </div>
        </div>
    }
</div>
