@model IEnumerable<NSG.NetIncident4.Core.Application.Commands.NoteTypes.NoteTypeListQuery>
@{
    ViewData["Title"] = "Index";
}
<h3>Note Types</h3>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="col-md-10" style="padding: 0 0 0 0;">
    <div class="row nsg-hd-row">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            Short Desc
        </div>
        <div class="col-md-6">
            Description
        </div>
        <div class="col-md-1"></div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row  nsg-row">
            <div class="col-md-3">
                <a asp-action="Details" asp-route-id="@item.NoteTypeId">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.NoteTypeId">Edit</a>
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.NoteTypeShortDesc)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(modelItem => item.NoteTypeDesc)
            </div>
            <div class="col-md-1">
                <a asp-action="Delete" asp-route-id="@item.NoteTypeId" class="nsg-text-danger">Delete</a>
            </div>
        </div>
    }
</div>
