@using NSG.NetIncident4.Core.UI.ViewModels
<style>
    /* container around the forecast */
    .nsg-weather-container {
        display: flex;
        flex-flow: row wrap;
    }
    /* Allow for 9 blocks */
    .nsg-md-1 {
        width: 11.1%;
    }

    @@media (max-width: 1000px) {
        .nsg-md-1 {
            width: 110px;
        }

        .nsg-tooltip .nsg-tooltiptext {
            width: 200px;
        }
    }

    /* Tooltip container */
    .nsg-tooltip {
        position: relative; /* Essential for positioning the tooltip text */
        display: inline-block; /* Allows the tooltip to wrap around its content */
        text-decoration: underline; /* Optional: adds a visual cue for hoverable text */
        cursor: pointer; /* Optional: changes cursor to a pointer on hover */
    }

    /* Tooltip text */
    .nsg-tooltip .nsg-tooltiptext {
        visibility: hidden; /* Hidden by default */
        width: 240px; /* Adjust as needed */
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Positioning the tooltip */
        position: absolute;
        z-index: 1; /* Ensures the tooltip is on top of other content */
        top: 100%; /* Positions the tooltip above the hover element */
        left: 50%;
        margin-left: -60px; /* Centers the tooltip horizontally (half of its width) */
    }

    /* Show the tooltip text on hover */
    .nsg-tooltip:hover .nsg-tooltiptext {
        visibility: visible;
    }

</style>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model GovWeatherCurrentAnd7DayForecast
@{
    ViewData["Title"] = "US Weather";
    DateTime _dt = DateTime.Now;
    int _cnt = 0;
    //
    GovWeatherCurrentWeather_V2 _currentWeather = Model.Current;
    string govWeatherLink = String.Format("https://forecast.weather.gov/MapClick.php?lat={0}&lon={1}&unit=0&lg=english", _currentWeather.Lat, _currentWeather.Lon);
    Console.WriteLine("In GovWeather ...");
    Console.WriteLine(Model);
    Console.WriteLine(_currentWeather.ToString());
    var _windSpeed = _currentWeather.ConvertWindSpeed();
    double _windSpeedMph = _windSpeed.windSpeed;
    double _currentTemp = 0;
    try
    {
        _currentTemp = double.Parse(_currentWeather.CurrentTemp);
    }
    catch { }
    string _temperatureCDisplay = _currentWeather.ConvertTemperatureFromF2C(_currentWeather.CurrentTemp);
    string _visibilityDisplay = _currentWeather.ConvertVisibility();
    string _lastUpdatedDisplay = _currentWeather.ConvertLastUpdated();
    string _windChillDisplay = _currentWeather.CalculateWindChill(_currentTemp, _windSpeedMph);
    //
}

<div class="card" style="border-radius: 3px;">
    <div class="card-header row">
        <div style="width: 50%;">
            Current weather at: &nbsp;
            <a href='@govWeatherLink' target='_blank'><strong>@_currentWeather.Location</strong></a>
            <div><strong>Lat: </strong>@(_currentWeather.Lat)°N <strong>Lon: </strong>@(_currentWeather.Lon)°W <strong>Elev: </strong>@(_currentWeather.Elevation)ft.</div>
        </div>
        <div style="width: 49%;">
            @if (_currentWeather.Warning)
            {
                @foreach (var _item in _currentWeather.WarningList)
                {
                    <a href='@_item.WarningUrl' target='_blank'><strong>@_item.WarningTitle</strong></a>
                }
            }
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div style="float: left; padding-right: 1rem;">
                    <img src="@_currentWeather.WeatherIcon" alt="icon" style="height: 100px; width: 100px;">
                </div>
                <div>
                    <div>@(_currentWeather.WeatherSummary)</div>
                    <h2>@(_currentWeather.CurrentTemp)°F</h2>
                    <div>@(_temperatureCDisplay)°C</div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <label class="col-md-3 nsg-td-label">Humidity:</label><div class="col-md-9">@(_currentWeather.Humidity)%</div>
                    <label class="col-md-3 nsg-td-label">Wind Speed:</label><div class="col-md-9">@(_windSpeed.display)</div>
                    <label class="col-md-3 nsg-td-label">Barometer:</label><div class="col-md-9">@_currentWeather.Barometer in</div>
                    <label class="col-md-3 nsg-td-label">Dewpoint:</label><div class="col-md-9">@(_currentWeather.Dewpoint)°F (@(_currentWeather.ConvertTemperatureFromF2C(_currentWeather.Dewpoint))°C)</div>
                    <label class="col-md-3 nsg-td-label">Visibility:</label><div class="col-md-9">@(_visibilityDisplay)</div>
                    @if (_currentTemp < 50.0 && _windSpeedMph > 3.0)
                    {
                        <label class="col-md-3 nsg-td-label">Wind Chill:</label>
                        <div class="col-md-9">@(_windChillDisplay)°F (@(_currentWeather.ConvertTemperatureFromF2C(_windChillDisplay))°C)</div>
                    }
                    <label class="col-md-3 nsg-td-label">Last update:</label><div class="col-md-9">@(_lastUpdatedDisplay)</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" style="border-radius: 3px; margin-top: 10px;">
    <div class="card-title" style="padding: 8px 16px; background-color: var(--bs-card-cap-bg); border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);">
        <div>
            Extended Forecast for: &nbsp;
            <span style="font-size: 18px;"><strong>@Model.Location</strong></span>
        </div>
    </div>

    <div class="card-body">

        <!-- d-flex justify-content-end  -->
        <div class="nsg-weather-container">
            @foreach (var _item in Model.Forecast)
            {
                ++_cnt;
                @if (_cnt < 10)
                {
                    _dt = DateTime.Parse(_item.Date);
                    <div class="nsg-md-1">
                        <div class="nsg-tooltip">
                            <div style="height: 54px;">@_item.TimeOfDay</div>
                            <img src="@_item.WeatherIcon" alt="Weather Icon">
                            @if (_dt.Hour < 18)
                            {
                                <div>High: @(_item.HighTemp)°F</div>
                            }
                            else
                            {
                                <div>Low: @(_item.LowTemp)°F</div>
                            }
                            @(_item.WeatherSummary)
                            <div class="nsg-tooltiptext">@(_item.WeatherDetails)</div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
