@model NSG.NetIncident4.Core.Application.Commands.IncidentTypes.IncidentTypeDetailQuery
<div class="row">
    <label class="col-md-2 nsg-label" for="IncidentTypeId">Id:</label>
    <div class="col-sm-10">
        @Html.DisplayFor(model => model.IncidentTypeId)
    </div>
</div>
<div class="row">
    <label class="col-md-2 nsg-label" for="IncidentTypeShortDesc">Short Desc:</label>
    <div class="col-sm-10">
        @Html.DisplayFor(model => model.IncidentTypeShortDesc)
    </div>
</div>
<div class="row">
    <label class="col-md-2 nsg-label" for="IncidentTypeDesc">Description:</label>
    <div class="col-sm-10">
        @Html.DisplayFor(model => model.IncidentTypeDesc)
    </div>
</div>
<div class="row">
    <label class="col-md-2 nsg-label" for="IncidentTypeFromServer">Use Server Values:</label>
    <div class="col-sm-10">
        @Html.DisplayFor(model => model.IncidentTypeFromServer)
    </div>
</div>
<div class="row">
    <label class="col-md-2 nsg-label" for="IncidentTypeSubjectLine">Subject Line:</label>
    <div class="col-sm-10">
        @Html.DisplayFor(model => model.IncidentTypeSubjectLine)
    </div>
</div>
<div class="row">
    <label class="col-md-2 nsg-label" for="IncidentTypeEmailTemplate">Email Template:</label>
    <div class="col-sm-10">
        @Html.DisplayFor(model => model.IncidentTypeEmailTemplate)
    </div>
</div>
<div class="row">
    <label class="col-md-2 nsg-label" for="IncidentTypeTimeTemplate">Time Template:</label>
    <div class="col-sm-10">
        @Html.DisplayFor(model => model.IncidentTypeTimeTemplate)
    </div>
</div>
<div class="row">
    <label class="col-md-2 nsg-label" for="IncidentTypeThanksTemplate">Thanks Template:</label>
    <div class="col-sm-10">
        @Html.DisplayFor(model => model.IncidentTypeThanksTemplate)
    </div>
</div>
<div class="row">
    <label class="col-md-2 nsg-label" for="IncidentTypeLogTemplate">Log Template:</label>
    <div class="col-sm-10">
        @Html.DisplayFor(model => model.IncidentTypeLogTemplate)
    </div>
</div>
<div class="row">
    <label class="col-md-2 nsg-label" for="IncidentTypeTemplate">Template:</label>
    <div class="col-sm-10">
        @Html.DisplayFor(model => model.IncidentTypeTemplate)
    </div>
</div>
